.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: var(--space-md);
  border-bottom: 1px solid var(--color-border);
  font-family: var(--font-heading);
}

.homeLink {
  display: flex;
  align-items: center;
}

.homeImage {
  width: auto;
  height: 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

@media (max-width: 900px) {
  .list {
    display: none;
  }
}
