.left,
.right {
  position: fixed;
  top: 5rem;
  bottom: 0;
  width: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  z-index: 1;
  scrollbar-width: none;
}

.left::-webkit-scrollbar,
.right::-webkit-scrollbar {
  display: none;
}

.left {
  left: 0;
  align-items: flex-start;
}

.right {
  right: 0;
  align-items: flex-end;
}

.item {
  width: 80%;
}

.left .item {
  margin-left: -2rem;
}

.right .item {
  margin-right: -2rem;
}

.image {
  width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  .left,
  .right {
    display: none;
  }
}
