.page {
  position: relative;
  min-height: 2400px;
  overflow-x: hidden;
  overflow-y: visible;
  /* padding: 4rem 0; */
  /* margin-top: 2.5rem; */
}

.center {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}

@media (max-width: 900px) {
  .page {
    min-height: 100dvh;
  }
}
